@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 0px 240px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navTitle{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul{
    display: flex;
}

nav>ul>li{
    list-style: none;
margin-right: 30px;
font-size: 1rem;
font-weight: 500;
}
nav>ul>li>a{
    text-decoration: none;
    color: #424242;
}


/* banner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
font-size: 4rem;
font-weight: 700;
}
.banner-description{
    color:  #727272;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.6rem;
}
.primary-button{
    border-radius: 5px;
    background-color: #FF900E;
padding: 19px 20px;
border: 2px solid #FF900E;
font-size: 20px;
color: #ffff;
font-family: 600;
transition: .7s;
cursor: pointer;
margin: 32px 0 50px;
}
.primary-button:hover{
transform: scale(1.2);

}

.banner img{
    width: 100%;
}

/* main section style */
main{
    max-width: 1150px;
    margin: 0 auto;
}
/* team section */
.teams-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 90px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding:0 70px ;
}

.teams-title{
    font-size: 2.7rem;
    font-weight: 700;
}

#span-1{
    font-weight: 500;
    color: #727272;
}
#span-2{
    color: #FF900E;
}


/* features styles */
 .features-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
 }

.features-container{
    display: flex;
    gap: 51px;
    
}
.all-features{
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
    margin: 20px 0 0;
}
.features-image{
    position: relative;
}
.features-image img{
    height: 90%;
    margin-left: 30px;

}
.experience{
    display: inline-block;
    text-align: center;
    padding: 45px;
    width: 300px;
    color: white;
    border-radius: 5px;
    background-color: #FF900E;
    position: absolute;
    left: -30px;
bottom: -25px;
    /* right: 0; */
}
.experience>h2{
    margin: 0px;
    font-size: 65px;
}
.experience>p{
    font-size: 1.5rem;
}
/* .features-title{

} */

/* Some facts section */
.facts-cart{
    display: flex;
justify-content: space-around;
margin: 50px 0 120px;
gap: 20px;
}
.cart{
    border: 1px solid orange;
    border-radius: 8px;
  text-align: center;
  padding: 30px 30px 0;
}
.cart img{
    width: 45px;
}
.cart-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color:#424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-title{
    color: #727272;
    font-size: 1.2rem;
    margin-top: 0;
}


/* sponsors section */
.sponsors-content{
    text-align: center;
}
.sponsors{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 100px;
    align-items: center;
    gap: 3vh;
}

/* footer section style */
footer{
    margin: 0 auto;
    border-radius: 8px;
    background-color: #FFF4E7;
    text-align: center;
    padding: 38px 0;
}

/* responsive media queries */
@media screen and (max-width:756px) {
    header{
        padding: 30px ;
    }
    nav{
        flex-direction: column;
    }
    .navTitle{
        font-size: 1.8rem;
    }
    .teams-content{
        padding: 0 20px;
    }
    .teams-container{
        flex-direction:column;
        text-align: center;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-cart{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cart{
        width: 241px;
    }
   .sponsors{
    flex-direction: column;
   }
   .sponsors img{
    width: 165px;
   }
   .features-container{
    flex-direction: column;
   }
   .features-image img{
width: 100%;
    margin-left: 0;
}
.experience{
    max-width: 200px;
}
.experience>h2{
    font-size: 40px;
}
}


@media screen and (min-width:757px) and (max-width:1140px){
    header{
        padding: 50px;
    }
    .teams-container{
        flex-direction: column;
        text-align: center;  
    }
    .facts-cart{
        flex-direction: column;
        align-items: center;
    }
    .cart{
        width: 241px;
    }
    .sponsors{
        flex-direction: column;
        gap: 4vh;
       }
       .sponsors img{
        width: 165px;
       }
       .features-container{
        flex-direction: column;
       }
       .features-image img{
    width: 100%;
        margin-left: 0;
    }
    .experience{
        max-width: 200px;
    }
    .experience>h2{
        font-size: 40px;
    }
}